// colors
$primary  : #7dc3a2;
$secondary : #cae5e0;
$complentary: #1a7754;
$blue-light: #306095;
$blue-dark: #0e3a5c;

$gray-100: #dedede;

$white  : #ffffff;
$bgColor : #EAEAEA;
$secBg : #fafafa;

// radius
$br : 15px;
$brXL : 20px;

//boxshadow
$bs: 6px 6px 15px -7px rgba(0,0,0,0.75);