{% extends 'base.html.twig' %}

{% block title %}New Rollen{% endblock %}

{% block body %}
    <h1>Create new Rollen</h1>

    {{ include('rollen/_form.html.twig') }}

    <a href="{{ path('rollen_index') }}">back to list</a>
{% endblock %}
